.ant-btn-primary.login-button {
  color: white;
  background-color: #021429;
  border-color: #021429;
}

.ant-btn-primary.login-button:hover {
  background-color: #44a9fd;
  border-color: #44a9fd;
}

.ant-btn-primary.header-button {
  /* width: 50px; */
  color: white;
  font-weight: 600;
  font-size: 15px;
  background-color: #021429;
  border-color: #021429;
  padding: 5px;
}

.ant-btn-primary.header-button:hover {
  background-color: #222b50;
  border-color: #222b50;
  padding: 5px;
}

.ant-btn-primary.header-button.button-selected {
  background-color: #222b50;
  border-color: #222b50;
  padding: 5px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #021429;
}

.menuMore {
  color: white;
  font-weight: 600;
  font-size: 15px;
}

@media (max-width: 767px) {
  /* .MenuHeader {
    display: none;
  } */
  .header-logo-text,
  .MenuHeader {
    display: none;
  }
  /* .logo a {
    margin-left: -20px;
  }
  .menuCon .ant-menu-item,
  .menuCon .ant-menu-submenu-title {
    padding: 1px 20px;
  }
  .logo a {
    padding: 10px 20px;
  } */
}
